@media screen and (max-width:576px) {  
    .nav{
     flex-direction: column; 
    }
 
    .nav h1{
     margin-bottom: 30px;
     font-size: 0.;
    }
 
    .dark-3{
     padding-left: 20px;
    }
 
    .navbar{
     align-items: center;
    }
 
    .company-header img{
     max-width: 92%;
    }

    .company-txt h1{
        font-size: 1.8rem;
    }

    .company{
        text-align: center;
    }
    /* heading-end */

    .group-pic{
        grid-template-columns: repeat(1,100px);
    }

    .group{
        padding: 0px;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .group-pic img{
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }
    .group-txt h1{
        font-size: 1.2rem;
    }
    .right-side{
        padding: 30px 20px 30px 20px;
        margin: 0px;
    }

    /* .section-2-end */
    .right{
       padding-right: 0px;
       padding-left: 0px;
       justify-content: center;
    }

    .card-right{
        height:400px;
        padding: 0px;
        width: 0px;
    }

    .section-2{
        padding: 0px;
        flex-direction: column-reverse;
    }

    .btn-3{

    }

    .card-left > h1,p{
        padding: 30px;
    }

    .cards{
        padding: 30px;
    }

    .year-btn{
       margin: 0px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin-left: 120px;
    }
    .right{
        display: none;
    }

    .dark-3 {
        padding-left: 0px;
    }

    /* section-2-end */
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        padding: 0px;
        gap: 30px;
    }

    .box1,.box2,.box3,.box4{
        padding: 0px;
        padding-top: 40px;
    }

    .section-3{
        margin-top: 300px;
        margin-bottom: 50px;
    }

    .box-txt{
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    /* section-3-end */

    .sponsors {
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
    }

    .section-4{
        padding: 0px;
    }

    /* section-4-end */

    .footer{
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
    }

    footer{
        padding: 40px;
    }
  }