@media screen and (min-width:576.1px) and (max-width:1200px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    .company{
        margin-bottom: 40px;
    }

    .dark-3{
        font-size: 2.4rem;
    }

    .company-header img{
        max-width: 92%;
    }

    /* heading-end */

    .group{
        padding: 0px;
        padding-top: 30px;
        padding-left: 20px;
        margin-bottom: 30px;
    }
    .group-pic{
        grid-template-columns: repeat(1,1fr);
    }

    .btn-2{
        justify-content: center;
        display: flex;
        margin-top: 30px;
    }

    .group-txt h1{
        margin-bottom: 40px;
    }
    
    .right-side{
        padding-right: 20px;
    }
}