*{
    margin: 0px;
    padding: 0px;
}
/* shared css */
.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}
/* text-color */
.dark-2{
    color: #424242;
}

.dark-1{
    color: #131313;
}

.dark-3{
    color: #727272;
}

.uni-btn{
    background-color: #FF900E;
    color: #FFFF;
    padding: 20px 15px;
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
    border-radius: 6px;
}

.uni-btn:hover{
    border-radius: 6px;
    color:#727272;
    background-color: bisque;
    
}

.uni-hover:hover{
    border-radius: 6px;
    color:#727272;
    background-color: bisque;
    padding: 8px 5px;
}

/* shared css */

.navbar{
    gap:30px;
    align-items: center;
}

.nav{
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 0px 80px;
    padding-top:30px ;
}

.company h1{
    font-size: 2.81rem;
}

.nav a{
    font-size: 1.2rem;
    text-decoration:none;
    padding: 8px 5px;
}

.font{
    font-family: work sans;
}

.company-header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.company-txt{
    text-align: center;
}

.company-txt h1{
    margin:88px auto 65px auto;
    font-size: 4rem;
}

.company-txt p{
    margin-bottom: 24px;
    font-size: 1rem;
    opacity: 0.8;
}

.btn-1{
    text-shadow: 5px 3px 4px #727272;
    margin-bottom: 35px;
}

.company-header img {
    border-radius: 8px;
    margin-bottom: 34px;
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

 /* header-end */

.group-pic{
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-right: 62px;
}

.group{
    padding:65px 240px 92px
}

.right-side, .group-txt{
    flex-direction: column;
    justify-content: center;
}
.right-side{
    margin-left: 20px;
}
.group-txt h1{
    font-size: 2.81rem;
    margin-bottom: 18px;
    margin-bottom: 18px;
}

.group-txt p{
    margin-bottom: 26px;
}

/* section-1-end */


.card-right{
    background-image: url(./images/architect.png) ;
    background-size: contain;
    height: 1000px;
    width: 750px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.card-right{
    height: 1059px;
}

.right{
    padding-left: 80px;
}


.cards{
    flex-direction: column;
}

.card-left{
    flex-direction: column;
    padding-top: 30px;
}

.section-2{
    padding:40px 240px 40px 240px;
    background-color: #ffff;
    justify-content: space-between
}
 
.card-left>h1 {
    border-left: 4px solid #FF900E;
    padding-left: 20px;
    font-weight: 700;
    font-size: 2.81rem;
}

.card-left>p{
   margin-top: 24px;
   opacity: 0.8;
   font-size: 1rem;
   margin-bottom: 30px;
}

.card1, .card2, .card3, .card4{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #8a8a8a ;
    border-radius: 8px;
}

.card1>h2, .card2>h2, .card3>h2, .card4>h2{
    font-weight: 550;
    margin-bottom: 10px;
}

.btn-3{
    /* margin-top: 900px;
    padding: 46px 42px;
    margin-right: -1000px;
    margin-bottom: -76px; */
}

.card-right{ 
 margin-left: 76px;
}

.year-btn{
    margin-left: 620px;
    margin-top: 900px;
}

/* .section-2-end */

.boxes{
    justify-content: space-around;
    padding: 100px 200px 100px 200px;
}

.box1,.box2,.box3,.box4{
    padding: 45px 35px;
    column-gap: 20px;
    border: 1px solid #FF900E;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.box1>h3,.box2>h3,.box3>h3,.box4>h3{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.box-txt{
    margin-left: 242px;
}

.box-txt>h1{
    font-size: 2.81rem;
    margin-bottom: 24px;
}
   
.box4{
    padding: 55px 45px;
}

.section-4{
padding: 80px 240px;
}

.sponsor-txt{
    text-align: center;
}

.sponsor-txt>h2{
    font-size: 2.81rem;
    margin-bottom: 24px;
}

.sponsor-txt>p{
    margin-bottom: 50px;
}

.sponsors{
    justify-content: space-around;
}

.footer{
    padding: 39px 410px;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #FFF4E7;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 130px;
    margin-bottom: 180px;
    text-align: center;
}